<div class="menu-container">
    <div class="boxes">
        <h3 class="category">boxes</h3>
        <button class="more">MORE</button>
    </div>
    <div class="sushi">
        <h3 class="category">sushi</h3>
        <button class="more">MORE</button>
    </div>
    <div class="desserts">
        <h3 class="category">desserts</h3>
        <button class="more">MORE</button>
    </div>
    <div class="drinks">
        <h3 class="category">drinks</h3>
        <button class="more">MORE</button>
    </div>
</div>
