<div class="container profile-container">
    <div class="profile-info">
        <h3 class="caption">User Info</h3>
        <div class="user-card">
            <div class="labels">
                <span class="label">Username:</span>
                <span class="label">Email:</span>
                <span class="label">Phone:</span>
                <span class="label">Address:</span>
            </div>
            <form class="info">
                <input type="text" name="username" class="data" placeholder="Maya">
                <input type="text" name="email" class="data" placeholder="maya@gmail.com">
                <input type="text" name="phone" class="data" placeholder="+359 885 547 129">
                <input type="text" name="address" class="data" placeholder="Sofia 1016, Suha Reka, 4">
                <input type="submit" class="edit" value="Edit">
            </form>            
        </div>
    </div>
    <div class="latest-order">
        <h3 class="caption">Latest Order</h3>
        <div class="order-card">
            <div class="labels">
                <span class="label">Order ID:</span>
                <span class="label">Date:</span>
                <span class="label">Dishes count:</span>
                <span class="label">Total price:</span>
                <span class="label">Order status:</span>
            </div>
            <div class="info">
                <span class="label">WwBIPRPPSV</span>
                <span class="label">26 Aug 2021</span>
                <span class="label">5</span>
                <span class="label">23.70 &euro;</span>
                <span class="label">Ordered</span>
            </div>
        </div>
    </div>
</div>