<div class="cart-container">
    <div class="list" *ngFor="let o of orders">
        <p class="summary">
            Orderer at {{o.createdAt}} for total of {{o.total.toFixed(2)}} &euro;
        </p>
        <div class="item" *ngFor="let item of o.orders">
            <div class="img-container">
                <img [src]="item.image" alt="sushi">
            </div>
            <p class="name">{{item.name}}</p>
            <span class="total">{{item.price}} &nbsp; &euro;</span>
        </div>
    </div>    
</div>