<div class="footer">
    <p>{{title}}</p>
    
    <!-- <div class="container">
        <button class="btn" id="prev" disabled>Prev</button>
        
        <div class="progress-container">
            <div class="progress" id="progress"></div>
            <div class="circle active">{{stepOne}}</div>
            <div class="circle">{{stepTwo}}</div>
            <div class="circle">{{stepThree}}</div>
            <div class="circle">{{stepFour}}</div>
        </div>
        
        <button class="btn" id="next">Next</button>
    </div>
    
    <button class="btn-contact">Contact</button> -->
</div>
