<div class="container">
    <div class="form-container">
        <form  (submit)="submit()" id="login-form" class="login-form">
            <fieldset>
                <p class="field field-icon">
                    <label for="username">
                        <span>
                            <i class="fas fa-user"></i>
                        </span>
                    </label>
                    <input class="input-error" [(ngModel)]="form.username" type="text" name="username" id="username" placeholder="Your username" />
                </p>
                <p class="field field-icon">
                    <label for="password">
                        <span>
                            <i class="fas fa-lock"></i>
                        </span>
                    </label>
                    <input type="password" [(ngModel)]="form.password" name="password" id="password" placeholder="Your password" />
                </p>
                <button class="button field" >Login</button>
                
            </fieldset>
        </form> 
    </div>
    <div class="switch-forms">
        <p class="toggle-link">
            <span>Don't have an account?</span>&nbsp; 
            <a class="register" href="/signup">Signup</a>        
        </p>
    </div>

</div>