<div class="container">
    <div class="form-container">
        <form  (submit)="login()" id="login-form" class="login-form">
            <fieldset>
                <p class="field field-icon">
                    <label for="email">
                        <span>
                            <i class="fas fa-envelope"></i>
                        </span>
                    </label>
                    <input class="input-error" type="email" name="email" id="email" placeholder="john.doe@gmail.com">
                </p>
                <!-- <p class="error">
                    Email is required!
                </p> -->
            <!-- 
                <p class="error">Email is not valid!</p>
            -->    
                <p class="field field-icon">
                    <label for="password">
                        <span>
                            <i class="fas fa-lock"></i>
                        </span>
                    </label>
                    <input type="password" name="password" id="password" placeholder="******">
                </p>
            <!-- 
                <p class="error">Password is required!</p>    
                <p class="error">Password must be at least 4 characters!</p>    
                    
            -->
                <button class="button field" disabled>Login</button>
                
            </fieldset>
        </form> 
    </div>
    <div class="switch-forms">
        <p class="toggle-link">
            <span>Don't have an account?</span>&nbsp; 
            <a class="register" href="/signup">Signup</a>        
        </p>
    </div>

</div>