<nav class="header">
    <div routerLink="/" class="logo-container">
        <img src="/assets/logo-2.png" alt="logo">
    </div>
    
    <h1 class="siteTitle">{{title}}</h1>
        
    <div class="nav-container">
        <div *ngIf="showMenu" class="toggle-menu ">
            <ul class="nav-list nav-list--dashboard">
                <li class="nav-item">
                    <a routerLink="/" class="nav-link">Menu</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/cart" id="cart" class="nav-link">Cart</a>
                </li>
            </ul>
            <ul class="nav-list nav-list--user" id="user">
                <li class="nav-item">
                    <a routerLink="/signup" class="nav-link">Signup</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/profile" class="nav-link">Profile</a>
                </li>
            </ul>
        </div>
        <button (click)="toggleMenu($event)" class="menu-toggler" type="button">
            {{showMenu ? '&Chi;' : '&Xi;'}}
        </button>
    </div>    
</nav>   