// $dark {
//     $bg-dark: #333;
//     $color-light: #ede7f6;
// }

// $light {
//     $bg-light: #ede7f6;
//     $color-dark: #333;
// }

$--dark: #333;
$--light: #fff;
$-color-success: rgba(1, 75, 1, .7);

$-color-slash: rgba(150, 150, 150, 0.250);

$h-c-light: rgba(255, 255, 255, 0.650);
$h-bg-dark: rgba(14, 14, 14, 0.6);
$card-bg-dark: rgba(14, 14, 14, 0.7);

$text-shadow: 4px 12px 13px rgba(255, 255, 255, 0.350);

$box-shadow: 2px 2px 12px rgba(255, 255, 255, 0.250);

$-button-active-shadow:0px 0px 0px rgba(255, 255, 255, 0.250)

